BorderPane, UseCase1G {
    -fx-background-image: url("../../images/munchkin-background.jpg");
    -fx-background-position: top center;
    -fx-padding: 0 0 10 0;
    -fx-pref-width: 1000;
    -fx-pref-height: 750;
}

#menubar{
    -fx-font: bold 15 "sans-serif";
    -fx-alignment: left;
    -fx-pref-width: 32000; /* groot genoeg */
}
#buttonWelkom{
    -fx-background-image: url("../../images/right-arrow.png");
    -fx-background-color: blue;
    -fx-background-size: 100;
    -fx-background-position: top center;
}
VBox {
    -fx-alignment: center;
}

VBox Label {
    -fx-font: bold 15 "system";
}

HBox {
    -fx-alignment: center;
    -fx-spacing: 10;
}

Button{
    -fx-spacing: 10;
}
